* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.grid-conteiner {
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  display: grid;
  gap: 3px;
  grid-template-areas: "header" "nav" "main" "footer"; }

header {
  grid-area: header;
  background-color: #8c96a0; }

nav {
  grid-area: nav;
  background-color: #0e0e0e;
  color: white;
  font-size: 1,6rem; }

main {
  grid-area: main;
  background-color: #121212;
  font-size: 1,4rem; }

footer {
  grid-area: footer; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #313D52;
  color: #000000; }
  body header, body nav, body main, body footer {
    border-style: none #313D52; }

.titulo {
  color: #000000;
  font: normal;
  font-size: 2,3rem; }

.logo {
  width: 60px;
  height: auto;
  border-radius: 5px; }

.contenedor-all2 {
  width: 60%;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  background: #f3f3f3;
  margin-top: 50px;
  border-top: 6px none; }
  .contenedor-all2 .contenedor-p {
    font-size: 18px;
    font-weight: 500;
    text-align: justify; }

.contenedor-all {
  width: 60%;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  background: #f3f3f3;
  margin-top: 50px;
  border-top: 6px none; }

.videos {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.videos2 {
  width: 300px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px; }

.titulo-section1 {
  color: #c54e17;
  font-weight: 400;
  font-size: 2rem;
  font: normal;
  margin-bottom: 40px;
  margin-top: 30px; }

.tituloref {
  color: #c54e17;
  font-weight: bolder;
  font-size: 4m;
  font: normal; }

.imagenesblog {
  width: 100px;
  height: auto; }

.imagenestore {
  width: 200px;
  height: auto; }

.logowhatsapp {
  position: fixed;
  top: 95%;
  left: 89%; }
  .logowhatsapp .imglogo {
    width: 65px;
    height: auto; }

.imagenezequiel {
  width: 250px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.imagenesasha {
  width: 250px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.contenedor-store {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background: #313D52;
  margin-top: 60px;
  border-top: 6px none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedor-store .contenedor-store .card img {
    max-width: 85%;
    margin: auto;
    object-fit: cover;
    padding-top: 20px; }
  .contenedor-store .contenedor-store .card h4 {
    font-weight: 600; }
  .contenedor-store .contenedor-store .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300; }
  .contenedor-store .contenedor-store .card a {
    font-weight: 500;
    color: white; }

.card {
  width: 270px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 2px white;
  margin: 35px;
  text-align: center;
  transition: all 0.25s; }
  .card .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px wheat; }

form {
  width: 300px;
  margin: auto;
  background-color: #f7f7f7;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 12px; }
  form form h2 {
    color: #000000;
    text-align: center;
    margin: 0px;
    font-size: 2rem;
    margin-bottom: 25px; }
  form input, form textarea {
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    font: 1.063rem; }
  form text {
    min-height: 50px;
    max-height: 100px;
    max-width: 50px; }
  form #button {
    background-color: #31384a;
    color: #ffffff;
    padding: 10px; }
  form #button:hover {
    cursor: pointer; }

@media screen and (min-width: 768px) {
  .grid-conteiner {
    grid-template-areas: "header" "nav" "main" "footer"; }
  .titulo {
    font-size: 3rem; }
  .logo {
    width: 80px;
    height: auto;
    border-radius: 5px; }
  .menu {
    font-size: 1,8rem;
    background-position: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: normal;
    padding-left: 2,5rem;
    padding-right: 2,5rem;
    text-decoration: none;
    top: 20%; }
  .texto {
    color: #000000;
    font-size: 5mm;
    font-weight: 500; }
  .imagenesblog {
    width: 350px;
    height: auto; }
  .imglogo {
    width: 70%;
    height: auto; }
  .logowhatsapp {
    position: fixed;
    top: 92%;
    left: 90%; }
  .titulotable {
    font-size: 1,8rem;
    text-decoration: underline;
    font-weight: bold; }
  .contenidotable {
    font-size: 1,7rem; }
  form {
    width: 350px;
    margin: auto;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 12px; }
  input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font: 1.063rem; }
  text {
    min-height: 100px;
    max-height: 200px;
    max-width: 100px; }
  #button {
    background-color: #31384a;
    color: white;
    padding: 20px; }
  #button:hover {
    cursor: pointer; }
  .imagenestore {
    width: 200px;
    height: auto; }
  .contenedor-store {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    background: #f3f3f3;
    margin-top: 50px;
    border-top: 6px none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .card {
    width: 200px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 2px red;
    margin: 40px;
    text-align: center;
    transition: all 0.25s; }
  .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px red; }
  .contenedor-store .card img {
    margin: auto;
    padding: 20px; }
  .contenedor-store .card h4 {
    font-weight: 600; }
  .contenedor-store .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .contenedor-store .card a {
    font-weight: 500;
    color: white; }
  .imagenestore2 {
    width: 200px;
    height: auto; } }

@media screen and (min-width: 1024px) {
  .contenedor-store {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    background: #f3f3f3;
    margin-top: 50px;
    border-top: 6px none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .card {
    width: 230px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px red;
    margin: 40px;
    text-align: center;
    transition: all 0.25s; }
  .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px red; }
  .contenedor-store .card img {
    max-width: 90%;
    margin: auto;
    padding: 20px; }
  .contenedor-store .card h4 {
    font-weight: 600; }
  .contenedor-store .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .contenedor-store .card a {
    font-weight: 500;
    color: white; }
  .imagenestore2 {
    width: 200px;
    height: auto; }
  .imglogo {
    width: 60%;
    height: auto; } }

@media screen and (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  .grid-conteiner {
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  body {
    background: #313D52;
    width: 100%;
    height: 100vh; }
  .titulo {
    font-size: 3rem; }
  .titulo-section1 {
    font-size: 2.5rem; }
  .logo {
    width: 90px;
    height: auto;
    border-radius: 5px; }
  .menu {
    font-size: 2rem;
    background-position: 3rem;
    display: inline-block;
    font-style: normal;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
    font-size: 1.6rem;
    top: 20%; }
  .texto {
    color: #000000;
    font-size: 6mm;
    font-weight: 500;
    text-align: center; }
  .imagenes {
    width: 550px;
    height: 550px; }
  .imglogo {
    width: 80%;
    height: auto; }
  .logowhatsapp {
    position: fixed;
    top: 92%;
    left: 95%; }
  .titulotable {
    font-size: 1,8rem;
    text-decoration: underline;
    font-weight: bold; }
  .contenidotable {
    font-size: 1,8rem; }
  .tituloref {
    font-size: 7mm;
    font: normal;
    margin-bottom: 15px; }
  .titulonoticia {
    font-size: 7mm;
    font: normal;
    margin-bottom: 15px;
    color: #000000; }
  form {
    width: 450px;
    margin: auto;
    background-color: #f5f2ee;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 12px; }
  form h2 {
    color: #070707;
    text-align: center;
    margin: 0px;
    font-size: 2rem;
    margin-bottom: 20px; }
  input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font: 1.063rem; }
  text {
    min-height: 100px;
    max-height: 200px;
    max-width: 100px; }
  #button {
    background-color: #31384a;
    color: white;
    padding: 20px; }
  #button:hover {
    cursor: pointer; }
  .contenedor-all {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: #f3f3f3;
    margin-top: 50px;
    border-top: 6px none; }
  .contenedor-p {
    font-size: 18px;
    font-weight: 500;
    text-align: justify; }
  .imagenezequiel {
    width: 500px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
  .imagenesasha {
    width: 350px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
  .contenedor-all2 {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: #f3f3f3;
    margin-top: 50px;
    border-top: 6px none; }
  .videos {
    width: 500px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
  .videos2 {
    width: 500px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px; }
  .imagenesblog {
    width: 650px;
    height: 500px;
    object-fit: contain; }
  .imagenestore {
    width: 200px;
    height: auto; }
  .contenedor-store {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    background: #f3f3f3;
    margin-top: 50px;
    border-top: 6px none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px brown;
    margin: 40px;
    text-align: center;
    transition: all 0.25s; }
  .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px brown; }
  .contenedor-store .card img {
    max-width: 90%;
    margin: auto;
    padding: 20px; }
  .contenedor-store .card h4 {
    font-weight: 600; }
  .contenedor-store .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .contenedor-store .card a {
    font-weight: 500;
    color: white; }
  .imagenestore2 {
    width: 200px;
    height: auto; } }
