.contenedor-all2 {
    width: 60% ;
    max-width: 1000px ;
    margin: auto;
    padding: 60px ;
    background: #f3f3f3;
    margin-top: 50px ;
    border-top: 6px none;
    .contenedor-p {
        font-size:  18px; 
        font-weight: 500;
        text-align: justify;
    }
    
}

.contenedor-all {
    width: 60% ;
    max-width: 1000px ;
    margin: auto;
    padding: 60px ;
    background: #f3f3f3;
    margin-top: 50px ;
    border-top: 6px none;
    
}

.videos {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.videos2 {
    width: 300px;
    float:right;
    margin-left: 20px;
    margin-bottom: 20px;
}