.contenedor-all2 {
    width: 60% ;
    max-width: 1000px ;
    margin: auto;
    padding: 50px ;
    background: #f3f3f3;
    margin-top: 50px ;
    border-top: 6px none;
    .contenedor-p {
        font-size:  18px; 
        font-weight: 500;
        text-align:justify;
    }
    
}


@mixin size($ancho, $maxancho, $margin, $padding) {
    width: $ancho;
    max-width: $maxancho;
    margin: $margin;
    padding: $padding;
}

.contenedor-all {
    @include size(60%, 1000px , auto, 60px);
    background: #f3f3f3;
    margin-top: 50px ;
    border-top: 6px none;
    
}

.videos {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.videos2 {
    width: 150px;
    height: auto;
    float:right;
    margin-left: 20px;
    margin-bottom: 20px;
}