.imagenesblog {
    width: 100px;
    height: auto;
}

.imagenestore {
    width: 200px;
    height: auto;
}

.logowhatsapp {
    position: fixed;
    top: 94%;
    left: 88%;
    .imglogo {
        @extend .logowhatsapp;
        width: 50px;
        height: auto;
    }
}

.imagenredes {
    width: 30px;
    height: 30px;
}

.imagenezequiel {
    width: 170px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; 
}

.imagenesasha {
    width: 170px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; 
}