.imagenesblog {
    width: 100px;
    height: auto;
}

.imagenestore {
    width: 200px;
    height: auto;
}

.logowhatsapp {
    position: fixed;
    top: 95%;
    left: 89%;
    .imglogo {
        width: 65px;
        height: auto;
    }
}

.imagenezequiel {
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; 
}

.imagenesasha {
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; 
}