.titulo-section1 {
    color: #c54e17;
    font-weight: 400;
    font-size: 2rem;
    font: normal;
    margin-bottom: 40px;
    margin-top: 30px;
}

.tituloref {
    color: #c54e17;
    font-weight: bolder;
    font-size: 4m;
    font: normal;
}

